body{
    background-color: rgb(40, 35, 35);
    color:whitesmoke;
    font-family:arial;
  }
.button1,.button2,.button3
{   width:150px;
    height:150px;
    background-color: transparent;
    color:white;
    padding:8px;
    border-color:white;
    padding:10px;
    margin-right:4px;
    cursor: pointer;
    border-style:solid;
    border-radius:120px;

}

.scissor-emoji, .paper-emoji,.rock-emoji,.result
{
    width:95px;
    background-color: transparent;

}
.js-result{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-family:bold;  
}
.chice{
       margin-bottom:50px;
      }
.update-score{
    margin-top:50px;
}
.reset-button
{ 
    padding:10px;
    border-radius:5px;
    color:5px;
    width:100px;
    font-size:18px;
    font-weight: bold;
}
h4{
    font-size:25px;
}
